/* Estilos gerais para o main */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: var(--font-cinza-escuro);

}

.logo {
  width: 50px;
  height: 60px;
}

.container_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  align-items: center;
  text-align: center;
  width: 70%;
}

.container_left_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container_left_title h1 {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--cor-primaria);
}

.h2 {
  margin-top: 1rem;
  width: 70%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media (min-width: 992px) {

  /* Quando a tela for maior que 991px */
  .main {
    flex-direction: row;
    justify-content: center;
  }

  .container_left {
    width: 50%;
    /* Container esquerdo ocupa 50% */
    background-color: var(--cor-secundaria);
    /* Alterar fundo */
    padding: 0;
    color: white;
    align-items: center;
    /* Alinhar à esquerda */
    text-align: left;
    height: 100%;
  }

  .container {
    width: 50%;
    /* Container direito ocupa 50% */
    align-items: center;
    /* Alinhar à esquerda */
  }

}

@media (max-width: 991px) {
  .h2 {
    display: none;
  }
}