@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

:root {
  --cor-primaria: #0A53B9; 
  --cor-secundaria: #448DF2; 
  --cor-terciaria: #007AFF;  
  --cor-verde-claro: #E7F8F0;     
  --cor-azul-claro-pastel: #E8F1FD;  
  --font-cinza-escuro: #383E49; 
  --font-cinza-medio:#5D6679;
  --font-cinza-claro: #858D9D;
}