.dashboardContainer {
  background-color: #f0f2f5;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.card {
  flex: 1 1 calc(50% - 1rem);
  max-width: 100%;
}

@media (max-width: 768px) {
  .gridTop {
    flex-direction: column;
    align-items: center; /* Centraliza os cards */
  }
}



.cardVisaoGeral {
  order: -1; /* Faz ele subir quando empilhar */
  flex: 1 1 100%;
}


.cardBaia {
  flex: 2;
  min-width: 280px;
}

.cardRadial {
  flex: 2;
  min-width: 280px;
  width: 100%;
}




.sectionTitle {
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #1f1f1f;
}

.gridTop {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .gridTop {
    flex-direction: column;
  }

  .card {
    flex: 1 1 100%;
  }

  .cardRadial {
    display: block;
  }
  
  .cardBaia,
  .cardVisaoGeral {
    max-width: 100%;
    width: 100%;
  }
}
.statItem {
  margin-bottom: 16px;
}

@media (max-width: 400px) {
  .dashboardContainer {
    padding: 1rem;
  }
  .statItem {
    margin-bottom: 1px; /* Reduzido */
  }
  .sectionTitle {
    font-size: 16px;
    text-align: center;
  }
  .card {
    width: 100%;
  }
  .cardBaia,
  .cardRadial,
  .cardVisaoGeral {
    width: 100%;
  }
}
